@import "../../mixins.scss";

.header {
	position: fixed;
	transform: translateY(0);
	width: 100%;
	height: 60px;
	z-index: 1;
	display: flex;
	align-items: center;
	transition: all ease 0.5s;
	z-index: 2;
	&.top {
		background: rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(3.5px);
		-webkit-backdrop-filter: blur(3.5px);
	}
	&.show {
		background-color: var(--black3);
	}
	&.hide {
		transform: translateY(-60px);
	}

	.contentWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.logo-menu-container {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
		@include lg {
			gap: 30px;
		}

		.logo {
			cursor: pointer;
			background-color: rgb(193, 210, 224);
			border-radius: 50%;
			height: 50px;
			img {
				height: 50px;
			}
		}
		.menuItems {
			list-style-type: none;
			display: none;
			align-items: center;
			@include md {
				display: flex;
			}
			@include lg {
				gap: 30px;
			}
			@include xl {
				gap: 40px;
				font-size: large;
			}
			.menuItem {
				height: 60px;
				display: flex;
				align-items: center;
				margin: 0 15px;
				color: white;
				font-weight: 500;
				position: relative;
				&.searchIcon {
					margin-right: 0;
				}
				svg {
					font-size: 18px;
				}
				cursor: pointer;
				&:hover {
					color: var(--pink);
				}
			}
		}
	}
	.mobileMenuItems {
		display: flex;
		align-items: center;
		gap: 20px;
		@include md {
			display: none;
		}
		svg {
			font-size: 18px;
			color: white;
		}
	}

	&.mobileView {
		background: var(--black3);
		.menuItems {
			display: flex;
			position: absolute;
			top: 60px;
			left: 0;
			background: var(--black3);
			flex-direction: column;
			width: 100%;
			padding: 20px 0;
			border-top: 1px solid rgba(255, 255, 255, 0.1);
			animation: mobileMenu 0.3s ease forwards;
			.menuItem {
				font-size: 20px;
				width: 100%;
				height: auto;
				padding: 15px 20px;
				margin: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				&:last-child {
					display: none;
				}
			}
		}
	}
	.searchBar {
		width: 50%;
		height: 80%;
		max-width: 300px;
		background-color: var(--black3);
		animation: mobileMenu 0.3s ease forwards;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0.001em solid white;
		border-radius: 30px;
		@include md {
			display: none;
		}

		.searchIcon {
			color: white;
		}

		.searchInput {
			display: flex;
			align-items: center;
			height: 40px;
			width: 100%;
			padding-left: 10%;
			svg {
				font-size: 20px;
				flex-shrink: 0;
				margin-left: 10px;
				cursor: pointer;
			}
			input {
				color: white;
				width: 100%;
				height: 80%;
				background-color: var(--black3);
				outline: 0;
				font-size: 1em;
				@include md {
					height: 80%;
					font-size: 20px;
				}
			}
		}
	}

	.profile-search-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0;
		width: max-content;
		display: none;
		flex: auto;
		@include md {
			display: flex;
		}
		@include lg {
			flex: 0.8;
			gap: 8px;
		}
		@include xl {
			gap: 16px;
		}

		.container__search {
			display: block;
			max-width: 100%;
			margin-left: auto;
			height: 100%;
			padding-right: 10px;
			outline: none;
			@include md {
				max-width: 100%;
			}

			.search-container {
				overflow: hidden;
				float: right;
				height: 4em;
				width: 4em;
				border-radius: 2em;
				box-shadow: 0 0 5px #021144;

				&:hover,
				&:focus,
				&:focus-within {
					transition: ease-in-out;
					transition-duration: 250ms;
					width: 17em;
					border-radius: 5px 2em 2em 5px;
					outline: none;
					@include lg {
						width: 25em;
					}

					.search-button {
						input {
							display: inline-block;
							width: 80%;
							padding: 10px;
						}
					}
				}

				.search-input {
					appearance: none;
					float: left;
					width: 75%;
					height: 2em;
					margin: 1em;
					margin-right: -4.5em;
					background: #fff;
					color: black;
					font-size: 1em;
					font-weight: 600;
					padding-left: 5px;
					border: 0;
					border-radius: 5px;
					box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
					text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

					&:focus {
						outline: none;
						box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
					}
				}

				.search-button {
					display: flex;
					align-items: center;
					justify-content: center;
					float: right;
					width: 1.75em;
					height: 1.75em;
					margin: 0.125em;
					background: #021144;
					text-align: center;
					font-size: 2em;
					color: #fdf6e3;
					border-radius: 50%;
					box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
					text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);

					&:active {
						border: 0 !important;
						text-shadow: 0 0 0;
					}

					i {
						font-size: 85%;
					}
				}
			}
		}
	}

	@keyframes mobileMenu {
		0% {
			transform: translateX(130%);
		}
		100% {
			transform: translateY(0);
		}
	}
}
